.keyboard {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #6FCF97;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transition: bottom 0.4s;
}
.keyboard--hidden {
  bottom: -45%;
}