.keyboard__key {
  height: 45px;
  flex: 8% 2;
  margin: 3px;
  border-radius: 4px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-size: 1.05rem;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  &:active {
    background: rgba(255, 255, 255, 0.12);
  }
  &--wide {
    flex: 1 8%;
    background: rgba($color: #8BA4F9, $alpha: 0.8);
  }
  &--enter {
    flex: 2 13%;
    background: rgba($color: #8BA4F9, $alpha: 0.8);
  }
  &--space {
    flex-basis: 80%;
  }
  &--lang {
    flex-basis: 10%;
    background: rgba($color: rgb(240, 53, 6), $alpha: 0.8);
  }
  &--active {
    background: rgba($color: #8BA4F9, $alpha: 0.2);
  }
}